.navbar {
  background-color: rgb(219, 205, 189) !important;
}

.navbar .navbar-brand {
  font-size: 2rem;
  color: #198753;
  font-weight: 600;
}

.navbar .form-control {
  width: 20rem;
}
.card {
  padding: 1rem;
  display: flex !important;
  flex-direction: column !important;

  justify-content: space-between !important;
}
